.header {
  text-align: center;
  background-color: var(--blue);
  color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  .titlebox {
    background-color: black;
    width: fit-content;
    padding: 1px 50px;
    border: 1px solid var(--white);
  }

  .title {
    width: fit-content;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);

    &:hover {
      text-decoration: underline;
    }
  }
}
