.filterContent {
  height: 100%;
  width: 100%;

  h3 {
    margin: 10px 0;
    font-size: 25px;
  }

  h4 {
    margin: 10px 0;
    font-size: 22px;
  }
  .desktopFilter {
    position: sticky;
    top: 0;
    width: 250px;
    background-color: white;
    padding: 20px;
    margin: 0 10px 10px 10px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .mobileFilter {
    .filterSidepanel {
      display: grid;
      justify-content: end;
      justify-items: end;

      .filterTrigger {
        background-color: rgb(77, 77, 77);
        display: flex;
        justify-self: flex-end;
        align-items: center;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid black;
        color: white;

        .mobileFilterText {
          margin-right: 10px;
        }
      }

      @media (min-width: 1025px) {
        display: none;
      }
    }
  }
}

.SidepanelFilterContainer {
  display: flex; /* Use flexbox for the layout */
  flex-direction: column; /* Stack elements vertically */
  height: 94%;
}

.generalFilterStyling {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid lightgray;

  .filterLabel {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 0 5px;
    cursor: pointer;

    &.checkboxColor {
      input {
        appearance: none;
      }
    }

    &:hover {
      font-weight: bold;
    }

    input {
      width: 18px;
      height: 18px;

      &:checked {
        border: 1px solid black;

        + .filterText {
          font-weight: bold;
          text-decoration: underline;
        }
      }

      &:hover {
        border: 1px solid black;
      }
    }
    .filterText {
      padding: 4px 0px 3px 10px;
    }
  }
}

.showResultsButton {
  background-color: #333; /* Dark grey background */
  color: white; /* White text color */
  width: 100%; /* Full width */
  padding: 1rem; /* Add padding for better spacing */
  text-align: center; /* Center the text */
  cursor: pointer; /* Pointer on hover */
  box-sizing: border-box;
  margin-top: auto;
}

.showResultsButton:hover {
  background-color: #444; /* Slightly lighter grey on hover */
}
