.filterContent {
  height: 100%;
  width: 100%;
  .desktopFilter {
    position: sticky;
    top: 0;
    width: 250px;
    background-color: white;
    padding: 20px;
    margin: 0 10px 10px 10px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);

    @media (max-width: 1024px) {
      display: none;
    }
  }

  .mobileFilter {
    .filterSidepanel {
      display: grid;
      justify-content: end;
      justify-items: end;
      .filterTrigger {
        background-color: rgb(77, 77, 77);
        display: flex;
        justify-self: flex-end;
        align-items: center;
        padding: 8px;
        border-radius: 6px;
        border: 1px solid black;
        color: white;

        .mobileFilterText {
          margin-right: 10px;
        }
      }

      @media (min-width: 1025px) {
        display: none;
      }
    }
  }
}
