.productTile {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;

  .productTileContainer {
    position: relative;
    background-color: white;
    border: 1px solid black;
    padding: 10px;

    .heartIconContainer {
      display: flex;

      .heartIcon {
        position: absolute;
        right: 0;
        margin: 0px 10px;
        cursor: pointer;

        &.likedProduct {
          fill: var(--darkGray);
          animation: squish 200ms ease-in-out;
        }

        &:hover {
          fill: var(--darkGray);
        }
      }
    }

    .productTilePicture {
      width: 100%;
      height: 80%;
    }

    .productTileName {
      font-weight: bold;
      white-space: nowrap; /* Prevent text from wrapping to the next line */
      overflow: hidden; /* Hide any overflowing text */
      text-overflow: ellipsis; /* Display '...' for truncated text */
      width: 100%; /* Ensure it respects the parent's width */
      display: block;
    }

    .brandContainer {
      width: 100%;
      border-top: 1px solid black;
      margin-top: 5px;
      padding-bottom: 5px;
      .brandTag {
        text-align: center;
        color: #72716f;
      }
    }
  }

  @keyframes squish {
    50% {
      scale: 1.2;
    }
  }
}
