.productTile {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;

  @media (min-width: 1200px) {
    font-size: 22px;
  }

  .productTileContainer {
    position: relative;
    background-color: var(--ultraWhite);
    border: 1px solid var(--black);

    .heartIconContainer {
      display: flex;

      .heartIcon {
        position: absolute;
        right: 0;
        top: 15px;
        margin: 0px 10px;
        cursor: pointer;

        &.likedProduct {
          fill: var(--darkGray);
          animation: squish 200ms ease-in-out;
        }

        &:hover {
          fill: var(--darkGray);
        }
      }
    }

    .productTilePicture {
      width: 100%;
      height: 75%;
    }

    .productTileName {
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; /* Display '...' for truncated text */
      width: 100%;
      display: block;
    }

    .priceContainer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-top: 10px;
    }

    .brandContainer {
      width: 100%;
      border-top: 1px solid var(--black);
      margin-top: 25px;
      padding-bottom: 5px;
      .brandTag {
        text-align: center;
        color: #72716f;
        margin-top: 10px;
      }
    }
  }

  @keyframes squish {
    50% {
      scale: 1.2;
    }
  }
}
