.categoryBar {
  background-color: var(--white);
  position: relative;
  border-bottom: 1px solid var(--darkGray);

  .desktopMenu {
    display: flex;
    justify-content: center;

    .submenuItem {
      text-decoration: none;
      color: black;
      font-size: large;
      cursor: pointer;
      padding: 10px 15px;
      border-bottom: 2px solid transparent;
      width: fit-content;
      text-transform: capitalize;

      &:hover {
        border-bottom: 2px solid var(--black);
        width: fit-content;
      }
    }
  }

  .mobileSidepanelContainer {
    .mobileSidepanel {
      .mobileSidepanelTrigger {
        display: flex;
        margin: 5px;
      }
    }
  }

  .categoryItems {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    border: 1px solid var(--darkGray);
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1;

    @media (min-width: 430px) {
      width: 80%;
      margin: 0 auto;
    }
  }

  .catItems {
    list-style: none;
    padding: 0;
    cursor: pointer;

    & li {
      margin-bottom: 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .itemTitle {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 530px) {
    .menu > .desktopMenu {
      display: none;
    }
  }

  @media (min-width: 531px) {
    .menu > .mobileSidepanelContainer {
      display: none;
    }
  }
}
