:root {
  --blue: #264a87;
  --hoverBlue: #007bff;
  --white: #faf6f0;
  --ultraWhite: #ffffff;
  --black: #000000;
  --orange: #ffa500;
  --lightGray: #d3d3d3;
  --darkGray: #4d4d4d;
  --transparentGray: rgba(210, 208, 208, 0.85);
}
