/* page.module.scss */

/* Wrapper for hele layoutet */
.screengrid {
  .topFilterBar {
    background-color: white;
    margin: 10px;
    gap: 10px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);
    .filterBarContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 150px;
      text-align: center;
      .topFilterPictures {
        margin-bottom: 20px;
      }
    }
  }
}

.container {
  margin: auto;
  background-color: var(--white);
}

/* Carousel styling */
.carousel {
  max-width: 1200px;
  width: 100%;
  height: 500px;
  margin: 10px auto;
}

/* Styling for widget picture */
.widgetPicture > img {
  width: 185px;
  height: 325px;
  object-fit: cover;
}

.productTileGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  .productTile {
    width: 180px;
    height: 325px;
  }

  .widgetContainer {
    display: flex;
    cursor: pointer;
  }

  @media (min-width: 650px) {
    &.productTileGrid {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for width >= 650px */
    }
  }

  @media (min-width: 880px) and (max-width: 1024px) {
    &.productTileGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (min-width: 1170px) {
    &.productTileGrid {
      grid-template-columns: repeat(4, 1fr); /* 4 columns for width >= 1170px */
    }
  }

  @media (min-width: 1380px) {
    &.productTileGrid {
      grid-template-columns: repeat(5, 1fr); /* 5 columns for width >= 1380px */
    }
  }

  @media (min-width: 1600px) {
    &.productTileGrid {
      grid-template-columns: repeat(6, 1fr); /* 6 columns for width >= 1600px */
    }
  }
}

.productCarouselContainer {
  padding: 10px;
  max-width: 430px;
  background-color: lightgray;

  @media (min-width: 1024px) {
    max-width: 645px;
  }

  .productCarouselHeader {
    text-align: center;
  }
}

.productContainer {
  display: flex;
  margin-top: 10px;

  @media (max-width: 1024px) {
    flex-direction: column;

    .filterContainer {
      padding: 10px 10px 20px 10px;

      .filterTrigger {
      }
    }
  }
}

.productTileLink {
  text-decoration: none;
  color: black;
}
