/* Add this at the top of your CSS or SCSS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.fontOnly {
  font-family: "Open Sans", sans-serif; /* Applying Open Sans */
  font-weight: 300; /* Light weight */
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel {
    max-width: fit-content;
    width: 100%;
    height: 740px;
    margin: 5px auto;
  }

  .allJewelryHeader {
    margin: 40px 0 20px 0;
    line-height: 1.2;
    font-size: 2rem;
  }
}

.topFilterBar {
  background-color: var(--white);
  margin: 30px 0px 30px 30px;
  gap: 10px;
  .filterBarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .topFilterPictures {
      margin-bottom: 20px;
    }

    p {
      margin: 0 auto;
    }
  }
}

.container {
  margin: auto;
  background-color: var(--white);
}

/* Styling for widget picture */
.widgetPicture > img {
  width: 185px;
  height: 325px;
  object-fit: cover;
}

.productTileGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(160px, 1fr)
  ); /* Default grid with auto-fit and minmax */
  gap: 10px; /* Default gap */
  height: fit-content;
  padding: 0 10px;
  box-sizing: border-box;

  /* Ensure no overflow */
  overflow: hidden;

  .productTile {
    width: 100%; /* The tile fully spans its grid cell */
    height: auto;
    aspect-ratio: 9 / 16; /* Maintains the tile's aspect ratio */
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Center-align content */
    align-items: center;
    box-sizing: border-box;
  }

  .widgetContainer {
    display: flex;
    cursor: pointer;

    .regularWidget {
      width: unset;
      height: unset;
      font-size: 22px;
    }
  }

  /* Adjust layout for medium screens (mobile to tablet range) */
  @media (min-width: 530px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(180px, 1fr)
    ); /* Tiles grow to fit 180px */
  }

  @media (min-width: 760px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(200px, 1fr)
    ); /* Increase tiles to fit 200px */
  }

  /* For larger screens (tablet and low desktop range) */
  @media (min-width: 1024px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Bigger tiles for 1024px and above */
    padding: 0 20px; /* Increase padding on the sides to prevent overflow */
  }

  /* For large screens (desktop) */
  @media (min-width: 1200px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(300px, 1fr)
    ); /* Even bigger tiles for large desktops */
  }

  /* For extra large screens (large desktop / wide monitors) */
  @media (min-width: 1600px) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(320px, 1fr)
    ); /* More spacious tiles on bigger screens */
  }

  /* For super wide screens (2000px and beyond) */
  @media (min-width: 2000px) {
    grid-template-columns: repeat(
      5,
      minmax(320px, 1fr)
    ); /* Force 5 products across the row */
    gap: 20px; /* Increase gap on large screens for visual balance */
  }
}

.productCarouselContainer {
  padding: 10px;
  max-width: 430px;
  background-color: lightgray;

  @media (min-width: 1024px) {
    max-width: 645px;
  }

  .productCarouselHeader {
    text-align: center;
  }
}

.productContainer {
  display: flex;
  margin-top: 10px;

  @media (max-width: 1024px) {
    flex-direction: column;

    .filterContainer {
      padding: 10px 10px 20px 10px;

      .filterTrigger {
      }
    }
  }
}

.productTileLink {
  text-decoration: none;
  color: black;
}

.infoBar {
  display: grid;
  grid-template-columns: 320px 1fr max-content;
  grid-area: 1 / 1 / 2 / 4;
  height: 100%;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 10;
  align-items: center;
  margin-top: 20px;

  @media (max-width: 1024px) {
    display: none;
  }

  .filterHeaderContainer {
    grid-area: 1 / 1 / 2 / 2;
    width: unset;
    display: flex;
    align-items: center;
    margin-right: 25px;
    border-top: 1px solid lightgray;
    box-sizing: border-box;

    .filterHeader {
      font-size: 22px;
      font-weight: bold;
      padding: 20px;
    }
  }

  .productsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgray;
    height: inherit;
    box-sizing: border-box;
    margin-left: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdownToggle {
    border: none;
    background: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    margin-top: 8px;
    z-index: 10;
    padding: 15px 0;
  }

  .dropdownMenu button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;

    > * {
      text-transform: capitalize;
    }
  }

  .dropdownMenu button:hover {
    text-decoration: underline;
  }
}

.widgetCarouselContainer {
  width: 100%; /* Ensure the container spans the full width available */
  background-color: grey;
  grid-column: span 2; /* Makes sure the carousel spans 2 columns */
  display: flex;

  > ul {
    padding: 10px 10px 10px 10px;
  }

  > button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%); /* Centers the buttons vertically */
    border-radius: 50%; /* Rounded buttons */
    padding: 10px;
    z-index: 10;
  }
}
