@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap";

.fontOnly {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .carousel {
    max-width: fit-content;
    width: 100%;
    height: auto;
    margin: 5px auto;
  }

  .allJewelryHeader {
    margin: 40px 0 20px 0;
    line-height: 1.2;
    font-size: 1.2rem;

    @media (min-width: 1024px) {
      font-size: 1.8rem;
    }
  }
}

.topFilterBar {
  background-color: var(--white);
  margin: 30px 0px 30px 30px;
  gap: 10px;

  .filterBarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    .topFilterPictures {
      margin-bottom: 20px;
    }

    p {
      margin: 0 auto;
    }
  }
}

.container {
  margin: auto;
  background-color: var(--white);
}

.widgetPicture > img {
  width: 185px;
  height: 325px;
  object-fit: cover;
}

.productTileGrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

  gap: 10px;
  height: fit-content;
  padding: 0 10px;
  box-sizing: border-box;
  grid-auto-flow: dense;
  overflow: hidden;

  .productTile {
    width: 100%;
    height: auto;
    aspect-ratio: 9 / 16; /* Maintains the tile's aspect ratio */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .widgetContainer {
    display: flex;
    cursor: pointer;

    .regularWidget {
      width: unset;
      height: unset;
      font-size: 22px;
    }
  }

  @media (min-width: 530px) {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  @media (min-width: 760px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0 20px; /* Increase padding on the sides to prevent overflow */
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(3, minmax(320px, 1fr));
  }

  @media (min-width: 2000px) {
    grid-template-columns: repeat(5, minmax(320px, 1fr));
    gap: 20px;
  }
}

.productCarouselContainer {
  padding: 10px;
  max-width: 430px;
  background-color: var(--lightGray);

  @media (min-width: 1024px) {
    max-width: 645px;
  }

  .productCarouselHeader {
    text-align: center;
  }
}

.productContainer {
  display: flex;
  margin-top: 10px;

  @media (max-width: 1024px) {
    flex-direction: column;

    .filterContainer {
      padding: 10px 10px 20px 10px;
      background-color: var(--white);
      z-index: 10;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 1024px) {
        position: sticky;
        top: 0;
      }
    }
  }

  .filterContainer {
    .clearFilterButtonMobile {
      display: none;

      @media (max-width: 1024px) {
        padding: 12px;
        display: block;
        background-color: var(--darkGray);
        border-radius: 6px;
        color: var(--ultraWhite);
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis; /* Optional: adds "..." when the text overflows */
      }
    }
  }
}

.productTileLink {
  text-decoration: none;
  color: var(--black);
}

.infoBar {
  display: grid;
  grid-template-columns: 320px 1fr max-content;
  grid-area: 1 / 1 / 2 / 4;
  height: 100%;
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 10;
  align-items: center;
  margin-top: 20px;

  @media (max-width: 1024px) {
    display: none;
  }

  .filterHeaderContainer {
    grid-area: 1 / 1 / 2 / 2;
    width: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    border-top: 1px solid var(--lightGray);
    box-sizing: border-box;

    .filterHeader {
      font-size: 22px;
      font-weight: bold;
      padding: 20px;
    }

    .clearFilterButton {
      background-color: var(--darkGray);
      padding: 10px;
      border-radius: 6px;
      color: var(--ultraWhite);
      cursor: pointer;

      &:hover {
        background-color: #6b6b6b;
      }
    }
  }

  .productsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--lightGray);
    height: inherit;
    box-sizing: border-box;
    margin-left: 12px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdownToggle {
    border: none;
    background: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--white);
    margin-top: 8px;
    z-index: 10;
    padding: 15px 0;
  }

  .dropdownMenu button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;

    > * {
      text-transform: capitalize;
    }
  }

  .dropdownMenu button:hover {
    text-decoration: underline;
  }
}
