// @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.carouselContainer {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  background-image: url("../../../images/widgetCarouselBackground.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .widgetCarouselHeader {
    font-size: 40px;
    font-weight: bold;
    font-family: "Varela Round", sans-serif;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }

  .widgetCarouselContainer {
    width: 100%; /* Ensure the container spans the full width available */
    grid-column: span 2; /* Makes sure the carousel spans 2 columns */
    display: flex;
    cursor: pointer;

    > ul {
      padding: 10px 10px 10px 10px;

      > li > div {
        @media (min-width: 595px) and (max-width: 1023px) {
          width: 200px;
          height: 250px;
        }

        &:hover {
          p {
            &:last-of-type {
              width: 45%;
              font-size: 18px;
              transition: 0.3s ease-in-out;
            }
          }
        }

        @media (min-width: 1200px) {
          width: 250px;
          height: 400px;
        }
      }
    }

    > button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); /* Centers the buttons vertically */
      border-radius: 50%; /* Rounded buttons */
      padding: 10px;
      z-index: 10;
    }
  }
}
