.productPage {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  padding: 20px;
  background-color: var(--white);
  font-family: Arial, sans-serif;
  flex-direction: column;

  .goBackButton {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    text-decoration: none;
    color: var(--black);
    padding: 10px;
    width: fit-content;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }

  .productinfocontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    .imageContainer {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 100%;

      @media (max-width: 1024px) {
        width: 100%;
      }

      @media (min-width: 1025px) {
        position: sticky;
        top: 0;
      }

      img {
        width: 100%;
        height: auto;
        max-width: 750px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }

    .detailsContainer {
      width: 40%;
      max-width: 500px;

      @media (max-width: 1024px) {
        width: 100%;
      }

      .details {
        width: 100%;

        .productNameContainer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .price {
            margin-left: 10px;
            font-size: 20px;
          }

          @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .addToCart {
    margin-top: 20px;

    button {
      background-color: var(--blue);
      color: var(--ultraWhite);
      border: none;
      border-radius: 12px;
      padding: 12px 24px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 300px;

      @media (max-width: 550px) {
        width: 100%;
        border-radius: 6px;
      }

      &:hover {
        background-color: var(--hoverBlue);
      }
    }
  }

}

.productCarouselContainer {
  padding: 10px;
  background-color: var(--lightGray);
  margin-top: 40px;

  .productCarouselHeader {
    margin: 0;
    text-align: left;
  }

  .productTileLink {
    text-decoration: none;
    color: var(--black);
  }
  
  .carouselProductTiles {
    padding: 10px;
    width: 150px;
    height: fit-content;
    font-size: 15px;
  
    > img {
      margin-top: 10px;
    }
  
    @media (min-width: 550px) {
      width: 200px;
    }
  }
}

.videoContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}


